{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:security/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["prettier", "security", "import"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-one-expression-per-line": "off"
  }
}
